.header{
   width: 80%;
   height: auto;
   padding: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--border-color);
}
.logo{
   padding: 2px;
   width: 80px;
   height: auto;
   img{
      width: 100%;
      height: 100%;
   }
}
/* space */
.spacer{
   flex: 1;
}
/* switch container*/
.switch-container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   align-items: center;
}
/* language switch */
.language{
   margin-top: 15px;
   border-radius: 15px;
   input[type=checkbox]{
      appearance: none;
      height: 35px;
      width: 80px;
      background-color: var(--lang-background-color);
      position: relative;
      border-radius: .5em;
      cursor: pointer;
      border: 1px solid var(--lang-color-border);
   }
   input[type=checkbox]::before {
      content: 'ZH';
      display: block;
      height: 1.9em;
      width: 1.9em;
      text-align: center;
      line-height: 1.9em;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: calc(1.9em/2 + .4em);
      background-color: var(--lang-zh-color);
      border-radius: .2em;
      transition: .3s ease;
      color: var(--lang-zh-font-color);
   }
   input[type=checkbox]:checked::before {
      content: 'EN';
      background-color: var(--lang-en-color);
      left: calc(100% - (1.9em/2 + .4em));
      color: var(--lang-en-font-color);
   }
}
/* dark/light mode switch */
.toggle {
   margin-top: 5px;
   margin-right: 10px;
   background: var(--switch-background-color);
   color: var(--text);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: grid;
   place-items: center;
   cursor: pointer;
   box-shadow: 0 0 30px 1px var(--switch-shadow-color);
   line-height: 1;
   input{
      display: none;
   }
   transition: box-shadow 350ms;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 300ms,color 300ms;
  line-height: 0.1;
  
}

.icon--sun {
  transition-delay: 100ms;
}

.icon--moon {
  transform: scale(0);
}

#switch:checked + .icon--sun {
   transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--moon {
   transition-delay: 100ms;
   transform: scale(1) rotate(-360deg);
}

@media (max-width: 1024px){
   .header{
      width: 90%;
   }
}

@media (max-width: 425px){
   .logo{
      padding: 5px;
   }
}